{% extends 'base.html' %} 
{% load thumbnail %}
{% block title %} Последние обновления в вашей подписке {% endblock %}
{% block main %}
       
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">     
        <h1>Последние обновления в вашей подписке</h1>
        <article>
          {% include 'posts/includes/switcher.html' %}
          {% for post in page_obj %}
            <ul>
              <li>
                Автор: <a href="{% url 'posts:profile' post.author %}">{{ post.author.get_full_name }}</a>
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
              {% if post.group %} 
              <li>
                Группа: <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}</a>        
              </li>
              {% endif %}
            </ul>
            <div>
              {% thumbnail post.image "200x300" crop="center" upscale=True as im %}
                <img src="{{ im.url }}" width="200" height="300">
              {% endthumbnail %}
            </div>
            <p>{{ post.text }}</p>
            <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>    
            {% if not forloop.last %}<hr>{% endif %}
            <!-- под последним постом нет линии -->
          {% endfor %} 
          {% include 'posts/includes/paginator.html' %}
        </article>
      </div>  
    
{% endblock %}