{% extends 'base.html' %} 
{% load thumbnail %}
{% block title %} Профайл пользователя {{ author.get_full_name }} {% endblock %}
{% block main %}
      <div class="container py-5">
        <div class="mb-5">       
          <h1>Все посты пользователя {{ author.get_full_name }} </h1>
          <h3>Всего постов: {{ post_count }} </h3>
          {% if request.user != author %}
            {% if following %}
              <a
                class="btn btn-lg btn-light"
                href="{% url 'posts:profile_unfollow' author.username %}" role="button"
              >
                Отписаться
              </a>
            {% else %}
              <a
                class="btn btn-lg btn-primary"
                href="{% url 'posts:profile_follow' author.username %}" role="button"
              >
                Подписаться
              </a>
            {% endif %} 
          {% endif %}     
        </div>
        <article>
          {% for post in page_obj %}
              <ul>
                <li>
                  Автор: {{ post.author.get_full_name }}
                </li>
                <li>
                  Дата публикации: {{ post.pub_date|date:"d E Y" }}
                </li>
                {% if post.group %} 
                <li>
                  Группа: <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}</a>        
                </li>
                {% endif %}
              </ul>
              <div>
                {% thumbnail post.image "200x300" crop="center" upscale=True as im %}
                  <img src="{{ im.url }}" width="200" height="300">
                {% endthumbnail %}
              </div>
              <p>
                {{ post.text }}
              </p>
              <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
            <br>   
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %} 
          {% include 'posts/includes/paginator.html' %}
        </article>
      </div>
{% endblock %}